body {
   background-color: blanchedalmond;
   transition: all 5s;
}

.txt {
   background-color: cadetblue;
}

.btn {
   background-color: cyan;
   cursor: pointer;
}

.wrap {
   position: absolute;
   top: 50%;
   left: 44%;
   z-index: 1;
}

.grisha {
   display: none;
   width: 90%;
   height: 600px;
   position: relative;
   transition: all 5s;
}

.chlen {
   display: none;
   position: absolute;
   width: 300px;
   top: 130px;
   left: 550px;
   transition: all 5s;
}
@keyframes move {
	from {
		margin-left: 0px;
	}
	to {
		margin-left: 100px;
	}
}

.chlen {
	animation-duration: 2s;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

.padla {
   transform: translateX(100px);
   transition: all 5s;
   animation: transLateX(100px);
}

.pidor {
   transform: translateX(-100px);
   transition: all 5s;
}
